* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 650px;
  background-color: #3B4664;
  border-radius: 15px;
}

#display {
  width: 540px;
  height: 127px;
  background-color: #181F32;
  margin: 10px auto;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 10px;
  padding-left: 15px;
  font-size: 70px;
  font-weight: 500;
}

.numbers-operators {
  width: 540px;
  height: 480px;
  background-color: #181F32;
  margin: 10px auto;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
}

#equals, #clear {
  grid-column: span 2;
}

button {
  border-radius: 15px;
  box-shadow: 0px 5px 0px 0px rgba(178,164,152,1);
  border: none;
  font-size: 45px;
  font-weight: 600;
  color: #4B4E5B;
}

button.function {
  font-size: 30px;
  color: white;
  background-color: #64719A;
  box-shadow: 0px 5px 0px 0px #424E75;
}

#equals {
  color: white;
  background-color: #D13F30;
  box-shadow: 0px 5px 0px 0px #902417;
}

button:active {
  transform: scale(0.9);
}

@media (max-width: 600px) {
  .calculator {
    width: 370px;
    height: 560px;
  }

  #display {
    width: 350px;
  }

  .numbers-operators {
    width: 350px;
  }

  button.function {
    font-size: 26px;
  }
}